@import 'libs/vars';
@import 'libs/functions';

  @import "libs/skel";

  @include skel-breakpoints((
    xlarge: '(max-width: 1800px)',
    large: '(max-width: 1280px)',
    medium: '(max-width: 980px)',
    small: '(max-width: 736px)',
    xsmall: '(max-width: 480px)'
  ));

  @include skel-layout((
    reset: 'full',
    boxModel: 'border',
    grid: ( gutters: 2.5em ),
    conditionals: true,
    containers: true,
    breakpoints: (
      large: (
        grid: (
          gutters: 2em
        ),
      ),
      small: (
        grid: (
          gutters: 1.5em
        ),
      )
    )
  ));

  $size-header-width: 35%;
  $size-header-pad: 4em;

/* Basic */

  body, input, select, textarea {
    color: _palette(fg);
    font-family: _font(family);
    font-size: 16pt;
    font-weight: _font(weight);
    line-height: 1.75em;
  }

  body {
    font-family: 'Lato', sans-serif;
    margin: 0;
  }

  hr {
    border: 0;
    border-bottom: solid 2px _palette(border);

    // This is the *only* instance where we need to rely on margin collapse.
    margin: _size(element-margin) 0;

    &.major {
      margin: (_size(element-margin) * 1.5) 0;
    }
  }

  blockquote {
    border-left: solid 6px _palette(border);
    font-style: italic;
    margin: 0 0 _size(element-margin) 0;
    padding: 0.5em 0 0.5em 1.5em;
  }

  code {
    background: _palette(border-bg);
    border-radius: _size(border-radius);
    border: solid 2px _palette(border);
    font-family: _font(family-fixed);
    font-size: 0.9em;
    margin: 0 0.25em;
    padding: 0.25em 0.65em;
  }

  pre {
    -webkit-overflow-scrolling: touch;
    font-family: _font(family-fixed);
    font-size: 0.9em;
    margin: 0 0 _size(element-margin) 0;

    code {
      display: block;
      line-height: 1.75em;
      padding: 1em 1.5em;
      overflow-x: auto;
    }
  }

  .align-left {
    text-align: left;
  }

  .align-center {
    text-align: center;
  }

  .align-right {
    text-align: right;
  }

  input, textarea {
    width: 100%;
    border: 0;
    padding: 5px;
    resize: none;
    border-bottom: 1px solid _palette(fg);
    color: rgba(33,150,243,0.8);
    font-family: 'Lato', sans-serif;
  }

  ::placeholder {
    color: _palette(accent1, fg-light);
  }

/* Footer */

  #footer {
    .icons {
      margin: (_size(element-margin) * 0.5) 0 0 0;

      a {
        color: _palette(accent2, fg-light);
      }
    }

    .copyright {
      color: _palette(accent2, fg-light);
      font-size: 0.8em;
      list-style: none;
      margin: (_size(element-margin) * 0.5) 0 0 0;
      padding: 0;

      li {
        border-left: solid 1px _palette(accent2, border);
        display: inline-block;
        line-height: 1em;
        margin-left: 0.75em;
        padding-left: 0.75em;

        &:first-child {
          border-left: 0;
          margin-left: 0;
          padding-left: 0;
        }

        a {
          color: inherit;
        }
      }
    }
  }

/* XLarge */

  @include breakpoint(xlarge) {

    /* Basic */

      body, input, select, textarea {
        font-size: 12pt;
      }

  }

/* Large */

  @include breakpoint(large) {
    /* Footer */

    #footer {
      .copyright {
        li {
          border-left-width: 0;
          display: block;
          line-height: 2.25em;
          margin-left: 0;
          padding-left: 0;
        }
      }
    }
  }

/* Medium */

  @include breakpoint(medium) {

    $size-header-pad: 4em;

    /* Basic */

      h1, h2, h3, h4, h5, h6 {
        br {
          display: none;
        }
      }

    /* Footer */

    #footer {
      bottom: auto;
      left: auto;
      padding: $size-header-pad $size-header-pad ($size-header-pad * 1.5) $size-header-pad;
      position: relative;
      text-align: center;
      width: 100%;

      .icons {
        margin: 0 0 (_size(element-margin) * 0.5) 0;
      }

      .copyright {
        margin: 0 0 (_size(element-margin) * 0.5) 0;

        li {
          border-left-width: 1px;
          display: inline-block;
          line-height: 1em;
          margin-left: 0.75em;
          padding-left: 0.75em;
        }
      }
    }
  }

/* Small */

  @include breakpoint(small) {

    $size-header-pad: 1.5em;

    /* Basic */

      h1 {
        font-size: 1.5em;
      }

      h2 {
        font-size: 1.2em;
      }

      h3 {
        font-size: 1em;
      }

  /* Footer */

    #footer {
      padding: ($size-header-pad * 1.5) $size-header-pad;
    }
  }

/* XSmall */

  @include breakpoint(xsmall) {

    $size-header-pad: 1.5em;

    /* Footer */

      #footer {
        .copyright {
          li {
            border-left-width: 0;
            display: block;
            line-height: 2.25em;
            margin-left: 0;
            padding-left: 0;
          }
        }
      }

  }

@media screen and (max-width: 480px) {
  .\36 u,
  .\36 u24,
  .\38 u,
  .\38 u24,
  .\34 u,
  .\34 u24 {
    width: 100%;
  }
}
